.nav {
    margin: 0 0.5rem;
    padding: 0.5rem;
    color: #fff;
    // border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &:hover {
      background-color: burlywood;
      color: white;
      font-weight: bold;
    }

    &:active {
      background-color: crimson;
      color: white;
      font-weight: bold;
    }
  }
