body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
   
}

.sidebars{
    height: 648px;
    width: 180px;
    background-color: #2f4050;
    color: #fff; 
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.row1{
    padding-bottom: 20px ;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row2{
    padding-bottom: 20px ; padding-bottom: 20px ;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row3{
    padding-bottom: 20px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}



