body{
    margin: 0;
    padding: 0;
   
}

.main{
   margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(215, 233, 240);

    .text{
        width:fit-content;
        margin: auto;
    }

    .box{
        
        height: 350px;
        width: 250px;
        margin: 20% auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17) ;
    }

    .text2{
        font-size: x-large;
        font-weight: 1000;
        text-align: center;
    }

    .text1{
        font-weight: 1000;
        text-align: center;

       
    }
    .btn1{
        margin: 20px;
      align-items: center;
    }

    .btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .inputFields{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
}

.container {
    padding: 100px;
  }
  
  .email-input {
    width: 300px;
    padding: 5px 10px;
  }
  
  .message {
    margin-top: 20px;
    font-size: 17px; 
  }
  
  .success {
    color: blue;
  }
  
  .error {
    color: red;
  }